.tarjetamensajeria1{
    border-radius: 3rem;
    background-color:lightsalmon;
}

.tarjetamensajeria{
    border-radius: 3rem;
    background-color:lightseagreen;
}
 .cajamensajeria{
     margin-bottom: 11rem;
 }